<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <div>
    <%= link_to "Destroy this product", @product, data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  </div>
</div>
