<!DOCTYPE html>
<html>
  <head>
    <title>Shoplify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
      <%= link_to "Products", products_path %>
      <%= current_user.stripe_customer_id %>
    <% else %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>

    <hr>
    <h1>Shopping Cart</h1>
    <% @cart.each do |product| %>
      <%= product.name %>
      <br>
    <% end %>
    <hr>

    <%= yield %>
  </body>
</html>
